@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

table {
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

strong {
  font-weight: bold; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #fff; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

/* Custom CSS
 * --------------------------------------- */
body {
  font-family: arial, helvetica;
  color: #333;
  color: rgba(0, 0, 0, 0.5); }

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative; }

h1 {
  font-size: 6em; }

p {
  font-size: 2em; }

.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em; }

.section {
  text-align: center; }

#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }

#menu li a {
  text-decoration: none;
  color: #000; }

#menu li.active a:hover {
  color: #000; }

#menu li:hover {
  background: rgba(255, 255, 255, 0.8); }

#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block; }

#menu li.active a {
  color: #fff; }

#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0; }

.twitter-share-button {
  position: fixed;
  z-index: 99;
  right: 149px;
  top: 9px; }

.team .row1,
.team .row2 {
  display: flex;
  justify-content: center; }
  .team .row1 .team-member,
  .team .row2 .team-member {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    .team .row1 .team-member span,
    .team .row2 .team-member span {
      padding: 1rem;
      color: #fff; }
    .team .row1 .team-member img,
    .team .row2 .team-member img {
      width: 150px;
      height: 150px; }

#section1 h1 {
  color: #DC6131; }
#section1 ul li {
  padding-top: 1rem; }
#section1 h3 {
  padding-top: 1.5rem; }
#section1 a.button {
  background-color: #465CA9;
  padding: 1rem;
  color: #fff;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem; }
  #section1 a.button:hover {
    background-color: #DC6131; }

.social img {
  height: 75px;
  width: 75px;
  padding: 2rem 1rem; }

#underConstruction {
  position: fixed;
  bottom: 0px;
  z-index: 999;
  background-color: rgba(255, 0, 0, 0.75);
  color: white;
  text-align: center;
  width: 100%;
  padding: 1rem; }

.fp-controlArrow.fp-prev {
  border-color: transparent #2F2A2B transparent transparent; }
.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #2F2A2B; }

/*# sourceMappingURL=main.css.map */
